[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
keyboard = "*"
configparser = "*"
openpyxl = "*"
pyinstaller = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"
